.App {
  text-align: center;
}
div {
  margin: 10px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: auto;
}
.checked {
  text-decoration: line-through;
}
.selected {
  text-decoration: underline;
}
.delete {
  color: red;
  font-weight: bold;
}